<nav class=" fixed top-0 left-0 h-screen w-64 bg-white text-black border-r border-r-gray-300 shadow flex flex-col overflow-y-auto transition-all duration-300 ease-in">
    <div class="sticky top-0 z-20 bg-white">
    <header class="px-2 flex items-center justify-between">
        <a href="" class="flex items-center justify-center w-full gap-2 px-2 py-1">
            <div class="w-10 h-10 flex items-center justify-center">
                <img src="/icon/0042-product-project-managers-illustrations/DrawKit Vector Illustration Project Manager/SVG/flow-svgrepo-com.svg" alt="logo-flow">
            </div>
            <div class="w-full h-full flex items-center text-xl font-medium">
                Flow Team
            </div>
            <div class="w-10 h-7 border-none rounded-full flex items-center justify-center bg-blue-400 hover:bg-blue-600 transition-colors cursor-pointer text-white">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m9 7-5 5 5 5"/>
                    <path d="m15 7 5 5-5 5"/>
                </svg>
            </div>
        </a>
    </header>
    <form action="" class="px-1 py-1 gap-2 bg-gray-100 rounded mx-5">
        <div class=" flex gap-1 items-center justify-between">
            <button type="button" class="text-gray-400">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search">
                    <path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/></svg>
            </button>
            <input id="search-input" name="search" type="text" placeholder="Search..." class="w-full bg-transparent focus:outline-none text-sm px-1"></input>
        </div>
    </form>
    <aside class="flex flex-col min-w-full px-5 pb-2 items-center relative mt-2 grow-0 shrink-0 cursor-pointer">
        <a href="" tabindex="0" class="flex items-center justify-start w-full px-1 py-2 text-sm hover:bg-gray-100 rounded transition-colors duration-300">
            <div class="w-5 h-5 flex items-center justify-center me-2 text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house-icon lucide-house">
                    <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg>
            </div>
            <span class="overflow-hidden text-ellipsis whitespace-nowrap text-sm text-gray-600 font-medium">Home</span>
        </a>
        <a href="" tabindex="0" class="flex items-center justify-start w-full px-1 py-2 text-sm hover:bg-gray-100 rounded transition-colors duration-300">
            <div class="w-5 h-5 flex items-center justify-center me-2 text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-check-big-icon lucide-square-check-big">
                    <path d="M21 10.656V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h12.344"/><path d="m9 11 3 3L22 4"/></svg>
            </div>
            <span class="overflow-hidden text-ellipsis whitespace-nowrap text-sm text-gray-600 font-medium">Tasks</span>
        </a>
        <a href="" tabindex="0" class="flex items-center justify-start w-full px-1 py-2 text-sm hover:bg-gray-100 rounded transition-colors duration-300">
            <div class="w-5 h-5 flex items-center justify-center me-2 text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-activity-icon lucide-activity">
                    <path d="M22 12h-2.48a2 2 0 0 0-1.93 1.46l-2.35 8.36a.25.25 0 0 1-.48 0L9.24 2.18a.25.25 0 0 0-.48 0l-2.35 8.36A2 2 0 0 1 4.49 12H2"/></svg>
            </div>
            <span class="overflow-hidden text-ellipsis whitespace-nowrap text-sm text-gray-600 font-medium">Activity</span>
        </a>
        <a href="" tabindex="0" class="flex items-center justify-start w-full px-1 py-2 text-sm hover:bg-gray-100 rounded transition-colors duration-300">
            <div class="w-5 h-5 flex items-center justify-center me-2 text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mails-icon lucide-mails"><path d="M17 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 1-1.732"/>
                    <path d="m22 5.5-6.419 4.179a2 2 0 0 1-2.162 0L7 5.5"/><rect x="7" y="3" width="15" height="12" rx="2"/></svg>
            </div>
            <span class="overflow-hidden text-ellipsis whitespace-nowrap text-sm text-gray-600 font-medium">Inbox</span>
        </a>
    </aside>
    </div>
    <div class="px-2 flex flex-col border-t max-h-full overflow-y-auto">
        <div role="button" tabindex="0" id="recent-list" aria-controls="recent-project" aria-expanded="true" class="select-none transition-colors duration-100 ease-in flex items-center justify-between rounded h-[30px] px-2 py-4 hover:bg-gray-100 sticky top-0 z-10 bg-white">
            <span class="[text-transform:initial] text-sm leading-[1] text-gray-400 font-medium transition-colors duration-100 ease-out">Recent Projects</span>
            <div class="text-gray-400">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-ellipsis-icon lucide-ellipsis">
                    <circle cx="12" cy="12" r="1"/><circle cx="19" cy="12" r="1"/><circle cx="5" cy="12" r="1"/></svg>
            </div>
        </div>
        <div role="tree" id="recent-project" aria-labelledby="recent-list" style="display: block;">
            <div class="flex flex-col gap-[1px]">

            </div>
        </div>
    </div>

    <div class="mt-auto border-t border-gray-200">
        <div class="flex items-center justify-between px-[12px] py-[10px] [box-sizing:border-box]">
            <div id="open-setting" role="button" tabindex="0" class="select-none transition-colors duration-[20ms] ease-in cursor-pointer
                inline-flex items-center justify-center shrink-0 rounded-sm h-7 w-7 p-0 hover:bg-gray-100">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings-icon lucide-settings">
                    <path d="M9.671 4.136a2.34 2.34 0 0 1 4.659 0 2.34 2.34 0 0 0 3.319 1.915 2.34 2.34 0 0 1 2.33 4.033 2.34 2.34 0 0 0 0 3.831 2.34 2.34 0 0 1-2.33 4.033 2.34 2.34 0 0 0-3.319 1.915 2.34 2.34 0 0 1-4.659 0 2.34 2.34 0 0 0-3.32-1.915 2.34 2.34 0 0 1-2.33-4.033 2.34 2.34 0 0 0 0-3.831A2.34 2.34 0 0 1 6.35 6.051a2.34 2.34 0 0 0 3.319-1.915"/><circle cx="12" cy="12" r="3"/></svg>
            </div>
        </div>
    </div>
</nav>
<script src="/js/settings-modal.js?v=2"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const settingModal = document.getElementById('open-setting');
        if (!settingModal) return;
        settingModal.addEventListener('click', () => window.settingsModal?.open());
    });
</script>
